.main {
   
  background-color: white;   
    color: #111010;
    min-height: 100vh;
    min-width: 195vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

}
  